<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vue Task Management</title>
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="style/app.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body>
        <!-- navigation bar -->
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><p class="text-warning"><span class="text-danger">VueJS</span> Task Management App</p></a>
            </div>
          </div>
        </nav>
        <!-- Main body of the App -->
        <div class="container" id="events">
            <!-- add a Task form -->
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Add a Task</h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <input class="form-control" placeholder="Task Name" v-model="task.name">
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" placeholder="Task Description" v-model="task.description"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="Date" v-model="task.date">
                        </div>

                        <button class="btn btn-primary" v-on="click: addTask">Submit</button>
                    </div>

                </div>
            </div>
            <!-- show the Tasks -->
            <div class="col-sm-6">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <h4 class="list-group-item-heading">List group item heading</h4>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    </a>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- VueJS -->
        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="node_modules/vue-resource/dist/vue-resource.js"></script>

        <script src="app.js"></script>
    </body>
</html>
