@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #EEEEEE;

    nav {
        font-family: 'Open Sans', sans-serif;
        background: #fff!important;
    }

    .margin-right {
        margin-right: 10px;
    }

    .add-tasks-list {
        .panel-body {
            p {
                font-size: 15px;
            }
        }
        .panel-footer {
            button.btn {
                border-radius: 50px;
            }
        }
    }

}
